.bg__container {
  background: linear-gradient(to top, #5090eb, #a3bee3);
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  gap: 4rem;

  padding-bottom: 3rem;
}

.portfolio__item {
  /* border: 1px solid var(--color-secondary); */
  border-radius: 1rem;
  padding: 2rem 3rem;

  width: 100%;
  height: fit-content;

  background: linear-gradient(to top, #10375c, #bae8e8);

  transition: var(--transition);
}

.portfolio__item:hover {
  background: var(--color-secondary-alternative);
}

.portfolio__item img {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.portfolio__item h2 {
  margin-bottom: 1rem;
}

.portfolio__item button {
  border: none;
  background: var(--color-secondary);

  color: var(--color-white);
  margin: 2rem 1rem;
  font-size: var(--font-small);
}

/* Media Screens Section */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 20rem);
    gap: 2rem;
  }

  .portfolio__item {
    /* margin: 0 auto; */
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 25rem);
  }

  .portfolio__item {
  }
}
