.backdrop__container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.heading__section {
  padding: 1rem 1rem;
  background: var(--color-main-alternative);
  width: fit-content;

  border-radius: 1rem;
}

.image__section {
  width: 22rem;
  height: 30rem;
  padding: 1rem 2.5rem;

  background: linear-gradient(
    to bottom,
    var(--color-secondary-alternative),
    transparent
  );
  border-radius: 50%;

  /* box-shadow: rgba(0, 0, 0, 01); */
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: center;
}

.email__request input {
  padding: 1rem 2rem;
  width: 70%;
  /* border-radius: 2rem; */
}

.email__request button {
  border-radius: 0;
}
