.backdrop__container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.image__section {
  width: 22rem;
  height: 30rem;
  padding: 1rem 2.5rem;

  background: linear-gradient(
    to bottom,
    var(--color-secondary-alternative),
    transparent
  );
  border-radius: 50%;

  /* box-shadow: rgba(0, 0, 0, 01); */
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: center;
}
