.skill__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill__container > div {
  height: fit-content;
  padding: 1rem 3rem;
}

.first__skills h2 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.second__skills h2 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.first__skilllist,
.second__skilllist {
  display: grid;
  grid-template-columns: 18rem 18rem;
  gap: 1.2rem;
}

.first__skill,
.second__skill {
  display: flex;
  gap: 1.2rem;

  padding: 2rem 3rem;
  border: 1px solid var(--color-white);
  border-radius: 2rem;
}

.skill__icon {
  width: 5rem;
  height: 5rem;
  color: var(--color-secondary-alternative);

  /* font-size: var(--font-big); */
}

/* Major Skill Section */

.major__skills {
  text-align: center;
}

.major__skills h2 {
  margin-bottom: 2rem;
}

.major__skill p {
  font-size: var(--font-regular);
  color: var(--color-white);
}

.major__skill-icon {
  font-size: 10rem;
  color: var(--color-secondary-alternative);
}

.major__skill button {
  padding: 1rem 3rem;

  border: none;
  border-radius: 1rem;

  background-color: var(--color-btn);
  color: var(--color-white);
  font-size: var(--font-regular);

  cursor: pointer;

  transition: var(--transition);
}

.major__skill button:hover {
  color: var(--color-secondary-alternative);
  background-color: var(--color-white);
}
