.skill__container {
  background: #ebffff;
}

.heading__text h5 {
  color: var(--color-secondary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first__skills h2 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.second__skills h2 {
  color: var(--color-secondary);
  margin-bottom: 2rem;
}

.first__skills h5 {
  color: var(--color-white);
}

.second__skills h5 {
  color: var(--color-white);
}

.first__skilllist,
.second__skilllist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.first__skill,
.second__skill {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 4rem 3rem;

  border: 1px solid var(--color-secondary-alternative);
  border-radius: 2rem;

  color: var(--color-white);
  background: var(--color-btn);

  transition: var(--transition);
}

.first__skill:hover {
  background: var(--color-secondary-alternative);
  color: var(--color-white);
}

.first__skill:hover .skill__icon {
  color: var(--color-white);
  transition: var(--transition);
}

.second__skill:hover {
  background: var(--color-secondary-alternative);
  color: var(--color-white);
}

.second__skill:hover .skill__icon {
  color: var(--color-white);
  transition: var(--transition);
}

.skill__icon {
  width: 8rem;
  height: 8rem;

  color: var(--color-secondary-alternative);

  /* font-size: var(--font-big); */
}

/* Major Skill Section */

.major__skills {
  text-align: center;
}

.major__skills h2 {
  margin-bottom: 2rem;
}

.major__skill p {
  font-size: var(--font-regular);
  color: var(--color-white);
}

.major__skill-icon {
  font-size: 10rem;
  color: var(--color-secondary-alternative);
}

.major__skill button {
  padding: 1rem 3rem;
  margin-top: 3rem;

  border: 1px solid var(--color-secondary-alternative);
  border-radius: 1rem;

  background-color: transparent;
  color: var(--color-secondary-alternative);
  font-size: var(--font-regular);

  cursor: pointer;

  transition: var(--transition);
}

.major__skill button:hover {
  color: var(--color-white);
  background-color: var(--color-btn);
}

/* Media Screens Section */

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .first__skill,
  .second__skill {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .major__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
