@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;

  list-style-type: none;
}

:root {
  --color-main: #3b5b86;
  --color-main-alternative: #76a2db;

  --color-secondary: #207d61;
  --color-secondary-alternative: #24f2b4;

  --color-btn: #27045b;

  --color-white: #fff;

  --font-big: 2.5rem;
  --font-regular: 1.5rem;
  --font-small: 1rem;

  --transition: all 400ms ease;
}

body {
  font-family: "Titillium Web", sans-serif;
  background: var(--color-main);
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 2rem auto 4rem;
}

section {
  padding: 0 2rem;
}

section h2,
h5 {
  color: var(--color-white);
  font-weight: 600;
}

section h5 {
  font-size: var(--font-small);
}

section h2 {
  font-size: var(--font-regular);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.heading__section {
  padding: 1rem 1rem;
  background: var(--color-main-alternative);
  width: fit-content;

  margin: 0 auto 2.5rem;
  border-radius: 1rem;
}

.btn {
  background: var(--color-btn);
  padding: 1rem 1rem;
  margin: 2rem auto;
  color: var(--color-white);

  width: 30%;
  border: none;
  border-radius: 2rem;

  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary-alternative);
}
