@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;

  list-style-type: none;
}

:root {
  --color-main: #6f5499;
  --color-main-alternative: #430b9c;

  --color-secondary: #d43982;
  --color-secondary-alternative: #800b42;

  --color-btn: #27045b;

  --color-white: #fff;

  --color-footer: #163a5f;

  --font-big: 2.5rem;
  --font-regular: 1.5rem;
  --font-small: 1rem;

  --transition: all 400ms ease;

  --view--bg: 75%;
  --view--md: 86%;
  --view--sm: 90%;
}

body {
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(var(--color-main), #9852f9);

  /* background-image: url(./assets/bg-texture.png); */
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 2rem auto 0;
}

h2,
h5,
p {
  font-weight: 600;
}

section h2,
h5 {
  color: var(--color-white);
  font-weight: 600;
}

section h5 {
  font-size: var(--font-small);
}

section h2 {
  font-size: var(--font-regular);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.heading__section {
  display: flex;
  gap: 3rem;

  padding: 3rem 1rem;
  margin: 0 auto 1rem;
  width: fit-content;

  border-radius: 1rem;
  text-align: center;
}

.heading__section h2 {
  color: var(--color-secondary);
}

.heading__icon {
  font-size: var(--font-big);
  color: var(--color-secondary-alternative);
}

.btn {
  background: transparent;
  padding: 1rem 1rem;
  margin: 2rem auto;
  color: var(--color-secondary-alternative);

  width: 30%;
  border: 0.02rem solid var(--color-secondary-alternative);
  border-radius: 2rem;

  font-family: "Titillium Web", sans-serif;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-main-alternative);
  color: var(--color-white);

  border: none;
}

.text-secondary {
  color: var(--color-secondary-alternative);
}
